###
# Unity folders and files
###
[Aa]ssets/AssetStoreTools*
[Bb]uild/
[Ll]ibrary/
[Ll]ocal[Cc]ache/
[Oo]bj/
[Tt]emp/
[Uu]nityGenerated/
# file on crash reports
sysinfo.txt
# Unity3D generated meta files
*.pidb.meta

###
# VS/MD solution and project files
###
[Ee]xportedObj/
*.booproj
*.csproj
*.sln
*.suo
*.svd
*.unityproj
*.user
*.userprefs
*.pidb
.DS_Store

###
# OS generated
###
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db


Assets/Playmaker/
Assets/Playmaker.meta
Assets/net.fabrejean/
Assets/net.fabrejean.meta
Assets/AmplifyShaderEditor/
Assets/AmplifyShaderEditor.meta
Assets/Gizmos/
Assets/Gizmos.meta
Assets/ShaderForge/
Assets/ShaderForge.meta
Assets/_TerrainAutoUpgrade/
Assets/_TerrainAutoUpgrade.meta
Assets/ShaderFunctions/
Assets/ShaderFunctions.meta
